<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Voyage</h1></a>
      <p>3 continents sur 5...</p>
    </div>
    <ul>
      <li><a href="/">Liste</a></li>
      <li><a href="/about">A Propos</a></li>
      <li><a href="/blogs/create">Nouvelle Destination</a></li>
    </ul>
  </nav>