<html lang="fr">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>A propos de moi</h2>
    <p>Les premiers voyages dont je me souviens, sont ceux que j'ai réalisé à travers la lecture des magazines GEO auxquels mon grand-père était abonné. Des reporters et autres aventuriers professionnels me permettaient de découvrir aux travers de leurs récits et photographies des centaines de destinations inconnues, à une époque où Internet était encore balbutiant. <br></p><br>
    <p>Ce sont ces lectures qui ont éveillé mon goût pour l'inconnu, la découverte. </p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>