<html lang="fr">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="create-blog content">
    <form>
      <label for="title">Destination:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Résumé:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Description:</label>
      <textarea id="body" name="body" required></textarea>
      <button>Envoyer</button>
    </form>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>